html,
body {
    height: 100%;
    margin: 0px;
}

.slider-container {
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
}


.main-container {
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */

    width: 100%;
    max-width: 703px;
    height: 600px;
    overflow: hidden;
    /* border-radius: 2rem; */
    /* gap: 3rem; */
}

.slides {
    display: flex;
    overflow-x: scroll;

    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

}


.slide {
    display: flex;
    flex-direction: column;
    align-items: center;


    flex-shrink: 0;
    width: 100%;
    height: 95%;

    scroll-snap-align: center;
    box-sizing: border-box;
    transform-origin: center center;
    transform: scale(1);

}

.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 25rem;
    font-size: 200%;
    color: white;
    margin-top: 3rem;
}


/* .nav-position{
    background: none;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
} */

.img-wrapper-width {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 100%;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;

    transform-origin: center center;
    transform: scale(1);
    border-radius: 10rem;
}

.img-wrapper-height {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    height: 100%;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;

    transform-origin: center center;
    transform: scale(1);
    border-radius: 5rem;
}


.slide a {
    background: none;
    border: none;
}

.layer-z100{
    z-index: 100;
}

.slider-nav {
    background-color: #333 ;
    width: 285px;
    height: 35px;
    display: flex;
    justify-content: center;
    /* margin-top: -30vw;
    margin-left: 60vw; */
    /* margin-top: -22.6rem;
    margin-left: 26rem; */
    margin-left: 26rem;
    margin-top: -3.5rem;
}

.slider-link {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #2986CC;
    margin: 0 10px 0 10px;
}


.slider-link:hover {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    margin: 0 10px 0 10px;
}

@media (max-width: 769px) {
    
}